# Postgres Docker init
POSTGRES_DB=cartradingstore
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword

# Backend Docker connect
DB_HOST=database  # Giữ cho Docker
DB_PORT=5432
DB_NAME=cartradingstore
DB_USER=postgres
DB_PASSWORD=yourpassword

JWT_SECRET=your_secret_key

# App
PORT=4000
SECRET=secret
REFRESH_SECRET=refreshsecret

# OAuth & Mail
OAUTH_CLIENT_ID=xxxx.apps.googleusercontent.com
OAUTH_CLIENT_SECRET=xxxx
OAUTH_REFRESH_TOKEN=xxxx
SMTP_FROM=youremail
SMTP_USER=youremail

SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_KEY=your_supabase_service_key
SUPABASE_BUCKET=your_bucket_name